<html ng-app="ComputerStore">
<head>
    <title>ComputerStore</title>
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">
    <nav class="navbar navbar-inverse">
        <div>
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home"><img @*id="picture"*@ src="http://i.imgur.com/luJkNzL.png?1"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a id="navText" href="/categories">Categories</a></li>
                <li><a id="navText" href="/about">About</a> /</li>
                <li ng-show="account.getClaim('IsAdmin')"><a id="navText" href="/addCategory">Add a Category</a></li>
                <li ng-show="account.getClaim('IsAdmin')"><a id="navText" href="/addLaptop">Add a Laptop</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="/login" ng-show="!account.isLoggedIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>
        </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
