<div class="foto">
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAjzAAAAJGNkZTFiZmRkLWMyMTMtNGU5OS1iNTdhLTE1ZTY4OTA3ODBiOQ.jpg" height="150" />
</div>

<p class="about">
    Mochammad Ibrahim known as Zack is the one writing and designing this website. The design of this website heavily based on
    <a href="http://www.xoticpc.com/">Xotic PC</a>  website. A full stack website written in less than 1 week.
    For more information about the developer visit <a href="https://www.linkedin.com/in/mochammad-ibrahim-b2705638/">Zack's Linked In</a>.
    Any suggestion is appreciated.
</p>
