<ul>
    <li ng-repeat="c in controller.category.laptops" class="kolom">
        <div class="kolom1">
            <div class="kolom2">
                <a ui-sref="laptop({id: c.id})" class="img-thumbnail">
                    <img ng-src="{{c.imageUrl}}" />
                </a>
                <hr class="garis" />
                <div class="Nama">
                    <strong><span>{{c.brand}}</span><span> </span><span>{{c.model}}</span></strong>
                </div>
                <hr class="garis" />

                <ul class="informasi">
                    <li>{{c.galleryProcessor}}</li>
                    <li>{{c.galleryDisplay}}</li>
                    <li>{{c.galleryGPU}}</li>
                    <li>{{c.galleryMemory}}</li>
                    <li>{{c.galleryStorage}}</li>
                    <li>{{c.galleryBatteryDimension}}</li>
                </ul>

                <div class="harga">
                    <strong>${{c.price}}</strong>
                </div>

                <div class="tombol1">
                    <a ng-show="!account.getClaim('IsAdmin')" class="btn btn-primary">Customize</a>
                    <a ng-show="!account.getClaim('IsAdmin')" class="btn btn-success">Add to Cart</a>
                </div>

                <div class="tombol2">
                    <a ui-sref="editLaptop({id: c.id})" ng-show="account.getClaim('IsAdmin')" class="btn btn-primary">Edit Laptop</a>
                    <a ui-sref="deleteLaptop({id: c.id})" ng-show="account.getClaim('IsAdmin')" class="btn btn-danger">Delete Laptop</a>
                </div>
            </div>
        </div>
    </li>
</ul>