{{controller.message}}

<form ng-submit="controller.editLaptop()" class="form-control">
    <label>Brand</label>
    <input type="text" ng-model="controller.laptop.brand" />

    <label>Model</label>
    <input type="text" ng-model="controller.laptop.model" />

    <label>Price</label>
    <input type="text" ng-model="controller.laptop.price" />

    <label>Image Url</label>
    <input type="text" ng-model="controller.laptop.imageUrl" />

    <label>Processor</label>
    <input type="text" ng-model="controller.laptop.processor" />

    <label>Chipset</label>
    <input type="text" ng-model="controller.laptop.motherboard" />

    <label>Memory</label>
    <input type="text" ng-model="controller.laptop.memory" />

    <label>GPU</label>
    <input type="text" ng-model="controller.laptop.gpu" />

    <label>OS</label>
    <input type="text" ng-model="controller.laptop.operatingSystem" />

    <label>I/O Input 1</label>
    <input type="text" ng-model="controller.laptop.ioInput1" />

    <label>I/O Input 2</label>
    <input type="text" ng-model="controller.laptop.ioInput2" />

    <label>I/O Input 3</label>
    <input type="text" ng-model="controller.laptop.ioInput3" />

    <label>I/O Input 4</label>
    <input type="text" ng-model="controller.laptop.ioInput4" />

    <label>I/O Input 5</label>
    <input type="text" ng-model="controller.laptop.ioInput5" />

    <label>I/O Input 6</label>
    <input type="text" ng-model="controller.laptop.ioInput6" />

    <label>I/O Input 7</label>
    <input type="text" ng-model="controller.laptop.ioInput7" />

    <label>I/O Input 8</label>
    <input type="text" ng-model="controller.laptop.ioInput8" />

    <label>Storage 1</label>
    <input type="text" ng-model="controller.laptop.storage1" />

    <label>Storage 2</label>
    <input type="text" ng-model="controller.laptop.storage2" />

    <label>Storage 3</label>
    <input type="text" ng-model="controller.laptop.storage3" />

    <label>Storage 4</label>
    <input type="text" ng-model="controller.laptop.storage4" />

    <label>Ethernet</label>
    <input type="text" ng-model="controller.laptop.ethernet" />

    <label>Wireless</label>
    <input type="text" ng-model="controller.laptop.wireless" />

    <label>Bluetooth</label>
    <input type="text" ng-model="controller.laptop.bluetooth" />

    <label>Quantity</label>
    <input type="text" ng-model="controller.laptop.quantity" />

    <label>Display</label>
    <input type="text" ng-model="controller.laptop.display" />

    <label>Audio</label>
    <input type="text" ng-model="controller.laptop.audio" />

    <label>Security 1</label>
    <input type="text" ng-model="controller.laptop.security1" />

    <label>Security 2</label>
    <input type="text" ng-model="controller.laptop.security2" />

    <label>Battery</label>
    <input type="text" ng-model="controller.laptop.battery" />

    <label>Adapter</label>
    <input type="text" ng-model="controller.laptop.adapter" />

    <label>Dimension</label>
    <input type="text" ng-model="controller.laptop.dimension" />

    <label>Weight</label>
    <input type="text" ng-model="controller.laptop.weight" />

    <label>Gallery Processor</label>
    <input type="text" ng-model="controller.laptop.galleryProcessor" />

    <label>Gallery Display</label>
    <input type="text" ng-model="controller.laptop.galleryDisplay" />

    <label>Gallery GPU</label>
    <input type="text" ng-model="controller.laptop.galleryGPU" />

    <label>Gallery Memory</label>
    <input type="text" ng-model="controller.laptop.galleryMemory" />

    <label>Gallery Storage</label>
    <input type="text" ng-model="controller.laptop.galleryStorage" />

    <label>Gallery Wireless</label>
    <input type="text" ng-model="controller.laptop.galleryWireless" />

    <label>Gallery OS</label>
    <input type="text" ng-model="controller.laptop.galleryOS" />

    <input type="submit" value="Edit Laptop" />
</form>