<h1>Login with a Social Provider</h1>

<ul>
    <li ng-repeat="externalLogin in account.externalLogins">
        <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
    </li>
</ul>


<ul>
    <li ng-repeat="error in controller.validationMessages">
        {{error}}
    </li>
</ul>


<div class="registrasi">
    <form ng-submit="controller.login()">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="controller.loginUser.email">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password:</span>
            <input type="password" class="form-control" aria-describedby="basic-addon1" ng-model="controller.loginUser.password">
        </div>
        <input class="btn btn-info" type="submit" value="Login" />
        <a class="btn btn-primary" href="/register">Register</a>
    </form>
</div>